// VARIABLES ------------------------------------ /

$primary-color: #9AB4B3;
$secondary-color: #A9A9A9;
$color-white: white;
$color-black: black;

$font-stack-primary: "Gill Sans", sans-serif;

$body-transcation: .2s;
$div-transcation: .2s;

// MIXIN ------------------------------------ /

@mixin absolute {
    z-index: 1;
    position: absolute;
}

// BASE  ------------------------------------ /
* {
    box-sizing: border-box;
  }
  
  body {
    color: $color-black;
    line-height: 1.5;
    letter-spacing: 0.2;
    font-family: $font-stack-primary;
    margin: 0;
  }
  h1 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    }
  h4 {
        text-align: center;
        font-size: 16px;
        margin: 0px;
    }
ul {
    list-style-type: none;
    margin: 0px;
    text-align: center;
}
a {
    text-decoration: none;
    color: $color-black;
    &:hover{color: $primary-color;}
}
.border{
    width: 100%;
    border-bottom: 2px solid #A9A9A9
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }


// Header  ------------------------------------ /

#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $primary-color;
}

.nav_block {
    width: 1200px;
    margin: auto;
    -webkit-transition: width $div-transcation; /* For Safari 3.1 to 6.0 */
    transition: width $div-transcation;
    form {
        float: left;
        margin-right: 0px;
        width: 250px;
        -webkit-transition: width $div-transcation; /* For Safari 3.1 to 6.0 */
        transition: width $div-transcation;
    }
    input{
        margin-left: 5px;
        border: none;
        height: 25px;
        -webkit-transition: width $div-transcation; /* For Safari 3.1 to 6.0 */
        transition: width $div-transcation;
    }
}

.full-nav {
        height: 40px;
        width: 900px;
        float: left;
        padding-left: 0px;
        li {
            float: left;
            font-size: 16px;
            padding-right: 30px;
            height: 40px;
        }
}

.responsive-nav {
    display: none;
}

.icon-r {
    float: right !important;
}
li.dropdown {
    display: block;
  }

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 60%;
    a {
        color: $color-black;
        text-align: center;
        width: 100%;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    a:hover {background-color: $primary-color;}
  }
.dropdown:hover .dropdown-content {
 display: block;
}
 // BODY ------------------------------------ /

#content-body {
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 30px; 
    -webkit-transition: width $body-transcation; /* For Safari 3.1 to 6.0 */
    transition: width $body-transcation;
}


.main-section1 {
    height: auto;
    img {
        margin-right: 30px;
    }
    img, section {
        width: 585px;
        height: 600px;
        float: left;
        -webkit-transition: width $div-transcation, height $div-transcation; /* For Safari 3.1 to 6.0 */
        transition: width $div-transcation, height $div-transcation;
    }
    section {
        background-color: $primary-color;
    }
    p {
        text-align: center;
        padding-top: 120px;
        margin: 0px;
        padding-bottom: 15px;
        color: $color-white;
        font-style: italic;
        -webkit-transition: padding-top $div-transcation; /* For Safari 3.1 to 6.0 */
        transition: padding-top $div-transcation;
    }
    h2 {
        text-align: center;
        font-size: 60px;
        letter-spacing: .3rem;
        margin: 0px;
        color: $color-white;
        -webkit-transition: font-size $div-transcation, letter-spacing $div-transcation; /* For Safari 3.1 to 6.0 */
        transition: font-size $div-transcation, letter-spacing $div-transcation;
    }
    .line {
        width: 40px;
        margin-left: 272.5px;
        border-bottom: 1px solid $color-white;
        margin-top: 20px;
        -webkit-transition: margin-left $div-transcation, width $div-transcation; /* For Safari 3.1 to 6.0 */
        transition: margin-left $div-transcation, width $div-transcation;
    }
}

 // PANNEL ------------------------------------ /

 .pannel1, 
 .sale-block-element1 {
     margin-top: 30px;
     width: 380px;
     float: left;
     padding: 0px;
     -webkit-transition: width $div-transcation; /* For Safari 3.1 to 6.0 */
     transition: width $div-transcation;
     img {
         width: 100%;
         height: 500px;
         -webkit-transition: height $div-transcation; /* For Safari 3.1 to 6.0 */
         transition: height $div-transcation;
     }
 }
 .margin {
    margin-right: 30px !important;
    -webkit-transition: margin-right $div-transcation; /* For Safari 3.1 to 6.0 */
    transition: margin-right $div-transcation;
}

.container {
    position: relative;
    text-align: center;
    color: $secondary-color;
  }

.pannel2 {
    width: 80%;
    height: 80px;
    background-color: $color-white;
    @include absolute;
    bottom: 10%;
    right: 10%;
    outline: 1px solid $secondary-color;
    outline-offset: -5px;
    h3{
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        color: $primary-color
    }
    p{
        margin-top: 2px;
        margin-bottom: 10px;
        font-size: 16px;
        columns: $secondary-color;
    }   
} 


 // SECTION BLOCK ------------------------------------ /

 #section-block {
    height: 150px;
    text-align: center;
    h2 {
        margin: 0px;
        padding-top: 40px;
        font-size: 20px;
        }
    p {
        font-size: 16px;
        font-style: italic;
        color: $secondary-color;
        }
}


 // SALE BLOCK ------------------------------------ /


 .sale-block-element1 {
    width: 277px !important;
    color: $color-black;
    float: left;
    -webkit-transition: width $div-transcation; /* For Safari 3.1 to 6.0 */
    transition: width $div-transcation;
    img {
        width: 100%;
        height: 400px;
        -webkit-transition: height $div-transcation; /* For Safari 3.1 to 6.0 */
        transition: height $div-transcation;
    }
    p  {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        color: $secondary-color;
        span  {
            padding-right: 10px;
        }
        span:first-child{
            text-decoration: line-through;
        }
        span:last-child  {
            color: #99BCDF;
        }
    }
}
.sale {
    width: 60px !important;
    height: 60px;
    background-color: $color-black;
    @include absolute;
    Top: -30px;
    right: 101px;
    border-radius: 100%;
    -webkit-transition: right $div-transcation; /* For Safari 3.1 to 6.0 */
    transition: right $div-transcation;
    p {
        
        margin-top: 20px;
        font-size: 80%;
        margin-bottom: 14px;
        color: $color-white !important;
    }
}
 // FOOTER ------------------------------------ /
 #footer{
     width: 100%;
     float: left;
     margin: auto;
 }

#footer div {
    border-top: solid 1px;
    border-color: $secondary-color;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
        font-size: 12px;
        color: $secondary-color;
        margin-right: 25px;
        letter-spacing: 1px;
    }
    img {
        width: 35px;
        height: 35px;
        margin-right: 40px;
        margin-top: 10px;
    }
}

#footer p {
    text-align: center;
    font-size: 12px;
    color: $secondary-color;
    span {
        color: $color-black !important;
        font-style: italic;
        font-size: 12px;
        letter-spacing: 2px;
    }
}
 
// SCREEN SIZE <1300 -------------------------- /

@media screen and (max-width: 1300px) {

#content-body {width: 1024px;}
.nav_block {
    width: 1024px;
    form {
        width: 200px;
}
}
.full-nav {
width: 800px;
}
.main-section1 {
    img, section {
        width: 497px;
        height: 510px;
        float: left;
     }
     p {
        padding-top: 80px;
    }
    h2 {
        font-size: 50px;
    }
    .line {
        width: 40px;
        margin-left: 228.5px;
    }
} 
.pannel1 {
        width: 321.3px;
        img {
            height: 420px;
        }
    }
.sale {
        right: 80px;
    }  
.sale-block-element1 {
    width: 233.5px !important;
    img {
        height: 336px;
    }
}
}
// SCREEN SIZE <1024 -------------------------- /
@media screen and (max-width: 1024px) {

#content-body {width: 768px;}
.nav_block {
    width: 768px;
    form {
        width: 150px;
    }
    input{
        width: 100px;
}
}

.full-nav {
    display: none;
}

.responsive-nav{
display: inline-block;
padding: 0px;
width: 450px;
li{
    float: left;
    width: 100px;
    margin: auto;
}
li:first-child{
    margin-left: 75px;
}
}
.dropdown-content {
    a{
        width: 100%;
    }
}
.main-section1 {
    img, section {
        width: 368.5px;
        height: 379px;
        float: left;
    }
    p {
        padding-top: 60px;
    }
    h2 {
        font-size: 40px;
        letter-spacing: .1rem; 
    }
.line {
        width: 40px;
        margin-left: 164.5px;
    }  
        } 
.pannel1{
          width: 236px;
          img {
                height: 289.5px;
         }
}

.sale {
         right: 55px;
        }
        
.sale-block-element1 {
        width: 169.5px !important;
        img {
            height: 200px;
        }
    }

}


// SCREEN SIZE <768-------------------------- /
@media screen and (max-width: 768px) {
#content-body {width: 480px;}

.nav_block {
    width: 480px;
    form {
        width: 100px;
   }
 input{
    width: 50px;
    }
}

.full-nav {
display: none;
}

.responsive-nav{
width: 350px;
    li{
    width: 90px;
    }
    li:first-child{
    margin-left: 15px;
    }
}

.main-section1 {
    img, section {
        width: 480px;
        height: 450px;
        margin-bottom: 20px;
        float: left;
     }
    .line {
        width: 40px;
        margin-left: 220px;
    }  
    } 

    .pannel1{
        width: 480px;
        img {
            height: 500px;
        }
    }

    .sale {
        right: 55px;
    }
    
 .sale-block-element1 {
    width: 210px !important;
    img {
        height: 210px;
    }
    
}

.sale {
    right: 70px;
}

#header nav form input {width: 60px;}

}

// SCREEN SIZE <600-------------------------- /
@media screen and (max-width: 600px) {

#header nav form input {width: 50px;}          
#footer div a { font-size: 10px;}
}

// SCREEN SIZE <320-------------------------- /

@media screen and (max-width: 480px){
#content-body {width: 320px;}
#header {height: 100px;}
.nav_block {
    width: 320px;
    form {
        width: 305px;
        margin-left: 25px;
   }
 input{
    width: 300px;
    }
}
.responsive-nav{
    width: 280px;
        li{
        width: 80px;

        }
    }

.main-section1 {
    img, section {
        width: 320px;
        height: 266px;
        margin-bottom: 20px;
        float: left;
     }
     p {
        padding-top: 30px;
    }
    h2 {
        font-size: 30px;
        letter-spacing: .1rem; 
    }
    .line {
        width: 40px;
        margin-left: 140px;
    }  
    } 

    .pannel1{
        width: 320px;
        img {
            height: 400px;
        }
    }

    .sale {
        right: 55px;
    }
    
 .sale-block-element1 {
    width: 320px !important;
    img {
        height: 350px;
    }
    
}

.sale {
    right: 120px;
}
}
