$primary-color: #9AB4B3;
$secondary-color: #A9A9A9;
$color-white: white;
$color-black: black;

$font-stack-primary: "Gill Sans", sans-serif;

// MIXIN ------------------------------------ /

@mixin absolute {
    z-index: 1;
    position: absolute;
}

// BASE  ------------------------------------ /
* {
    box-sizing: border-box;
  }
  
  body {
    color: $color-black;
    line-height: 1.5;
    letter-spacing: 0.2;
    font-family: $font-stack-primary;
    margin: 0;
  }
  h1 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    }
  h4 {
        text-align: center;
        font-size: 16px;
        margin: 0px;
    }
ul {
    list-style-type: none;
    margin: 0px;
    text-align: center;
}
a {
    text-decoration: none;
    color: $color-black;
    &:hover{color: $primary-color;}
}


// GRID  ------------------------------------ /

[class*="col-"] {
    float: left;
    padding: 0px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
.col-L {margin-left: 8.33%;}
.col-R {margin-right: 8.33%;}

.col-boarder {width: 100%;
            border-bottom: solid 1px;
            border-bottom-color: $primary-color;
            margin-bottom: 2%;       
        }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

// Header  ------------------------------------ /

#Header ul {
    height: 30px;
    li {
        display:inline;
        *display:inline; /*IE7*/
        font-size: 14px;
        padding-right: 4%;
    }
}

#Header nav form input {
    padding-bottom: 10px;
    width: 80px;
    height: 10px;
    border: none;
}

#responsive-nav {
    display: none;
}

.icon-r {
    float: right !important;
}
li.dropdown {
    display: block;
  }

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 60%;
    a {
        color: $color-black;
        text-align: center;
        width: 100%;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    a:hover {background-color: $primary-color;}
  }
.dropdown:hover .dropdown-content {
 display: block;
}
 // BODY ------------------------------------ /

#content-body {
    width: 1200px;
    height: auto;
    margin: auto;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}


.main-section1 {
    height: auto;
    img {
        margin-right: 30px;
    }
    img, section {
        width: 585px;
        height: 600px;
        float: left;
        -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
        transition: width 1s, height 1s;
    }
    section {
        background-color: $primary-color;
    }
    p {
        text-align: center;
        padding-top: 120px;
        margin: 0px;
        padding-bottom: 15px;
        color: $color-white;
        font-style: italic;
        -webkit-transition: padding-top 1s; /* For Safari 3.1 to 6.0 */
        transition: padding-top 1s;
    }
    h2 {
        text-align: center;
        font-size: 60px;
        letter-spacing: .3rem;
        margin: 0px;
        color: $color-white;
        -webkit-transition: font-size 1s, letter-spacing 1s; /* For Safari 3.1 to 6.0 */
        transition: font-size 1s, letter-spacing 1s;
    }
    .line {
        width: 40px;
        margin-left: 272.5px;
        border-bottom: 1px solid $color-white;
        margin-top: 20px;
        -webkit-transition: margin-left 1s, width 1s; /* For Safari 3.1 to 6.0 */
        transition: margin-left 1s, width 1s;
    }
}

 // PANNEL ------------------------------------ /

 .pannel1, 
 .sale-block-element1 {
     margin-top: 30px;
     width: 380px;
     float: left;
     padding: 0px;
     -webkit-transition: width 1s,; /* For Safari 3.1 to 6.0 */
     transition: width 1s;
     img {
         width: 100%;
         height: 500px;
         -webkit-transition: height 1s,; /* For Safari 3.1 to 6.0 */
         transition: height 1s;
     }
 }
 .margin {
    margin-right: 30px !important;
    -webkit-transition: margin-right 1s,; /* For Safari 3.1 to 6.0 */
    transition: margin-right 1s;
}

.container {
    position: relative;
    text-align: center;
    color: $secondary-color;
  }

.pannel2 {
    width: 80%;
    height: 80px;
    background-color: $color-white;
    @include absolute;
    bottom: 10%;
    right: 10%;
    outline: 1px solid $secondary-color;
    outline-offset: -5px;
    h3{
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        color: $primary-color
    }
    p{
        margin-top: 2px;
        margin-bottom: 10px;
        font-size: 16px;
        columns: $secondary-color;
    }   
} 


 // SECTION BLOCK ------------------------------------ /

 #section-block {
    height: 150px;
    text-align: center;
    h2 {
        margin: 0px;
        padding-top: 40px;
        font-size: 20px;
        }
    p {
        font-size: 16px;
        font-style: italic;
        color: $secondary-color;
        }
}


 // SALE BLOCK ------------------------------------ /


 .sale-block-element1 {
    width: 277px !important;
    color: $color-black;
    float: left;
    -webkit-transition: width 1s,; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    img {
        width: 100%;
        height: 400px;
        -webkit-transition: height 1s,; /* For Safari 3.1 to 6.0 */
        transition: height 1s;
    }
    p  {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        color: $secondary-color;
        span  {
            padding-right: 10px;
        }
        span:first-child{
            text-decoration: line-through;
        }
        span:last-child  {
            color: #99BCDF;
        }
    }
}
.sale {
    width: 60px !important;
    height: 60px;
    background-color: $color-black;
    @include absolute;
    Top: -30px;
    right: 101px;;
    border-radius: 100%;
    -webkit-transition: right 1s,; /* For Safari 3.1 to 6.0 */
    transition: right 1s;
    p {
        
        margin-top: 20px;
        font-size: 80%;
        margin-bottom: 14px;
        color: $color-white !important;
    }
}
 // FOOTER ------------------------------------ /

#footer div {
    border-top: solid 1px;
    border-color: $secondary-color;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
        font-size: 12px;
        color: $secondary-color;
        margin-right: 25px;
        letter-spacing: 1px;
    }
    img {
        width: 35px;
        height: 35px;
        margin-right: 40px;
        margin-top: 10px;
    }
}

#footer p {
    text-align: center;
    font-size: 12px;
    color: $secondary-color;
    span {
        color: $color-black !important;
        font-style: italic;
        font-size: 12px;
        letter-spacing: 2px;
    }
}
 
// SCREEN SIZE <1200 -------------------------- /

@media screen and (max-width: 1300px) {

#content-body {width: 1024px;}

.main-section1 {
    img, section {
        width: 497px;
        height: 510px;
        float: left;
     }
     p {
        padding-top: 80px;
    }
    h2 {
        font-size: 50px;
    }
    .line {
        width: 40px;
        margin-left: 228.5px;
    }
    }   

    .pannel1 {
        width: 321.3px;
        img {
            height: 420px;
        }
    }
    
    .sale {
        right: 80px;
    }
    
 .sale-block-element1 {
    width: 233.5px !important;
    img {
        height: 336px;
    }
}
#Header ul li {font-size: 12px;}
}
// SCREEN SIZE <1024 -------------------------- /
@media screen and (max-width: 1024px) {

    #content-body {width: 768px;}
    .margin {margin-right: 25px !important;}
    .main-section1 {
        img, section {
            width: 371.5px;
            height: 379px;
            float: left;
         }
         p {
            padding-top: 60px;
        }
        h2 {
            font-size: 40px;
            letter-spacing: .1rem; 
        }
        .line {
            width: 40px;
            margin-left: 164.5px;
        }  
        } 
 
        .pannel1{
            width: 239.3px;
            img {
                height: 289.5px;
            }
        }

        .sale {
            right: 55px;
        }
        
     .sale-block-element1 {
        width: 173.25px !important;
        img {
            height: 235px;
        }
    }

}


// SCREEN SIZE <768-------------------------- /
@media screen and (max-width: 768px) {

#Header nav form input {width: 60px;}
}

// SCREEN SIZE <600-------------------------- /
@media screen and (max-width: 600px) {

#Header nav form input {width: 50px;}          
#footer div a { font-size: 10px;}
}
// SCREEN SIZE <480-------------------------- /
@media screen and (max-width: 480px) {

#Header nav ul {text-align: left;}

}
// SCREEN SIZE <320-------------------------- /














#responsive-nav {
        display: inline-block;
        padding: 0px;
        font-size: 12px;
    }
#full-nav {
        display: none;
    }

#responsive-nav {
        display: inline-block;
        padding: 0px;
        font-size: 12px;
    }
.dropdown-content {
        right: 25%;
    }
